Edit Page For List

<br><br>
<br><br>

<form class="" action="/lists/<%= @list.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Content:</label>
  <textarea name="content" style="width:auto; height:auto;"><%= @list.content 
  %></textarea>
  <input type="submit" name="" value="Edit List">
</form>