<h2>Create a New List: </h2>

<form class="" action="/lists" method="post">
  <label for "content">Content:</label>
  <input type="text" name="content" value="">
  <input type="submit" name="" value="Create List">
</form>